/*PREVAR*/
:root{
    --colorPrimario: rgb(172, 42, 187);
    --colorSecundario: bisque;
}

/*GENERAL*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


Body{
    background-image: url("/Imaenes/RepetitivoF.png");/*Imagen de fondo*/
    background-size: 50rem;
    color: var(--colorSecundario);/*Color de la letra en general*/

}

.fondo{
    background-color: rgba(27, 4, 47, 0.425);/*Capa oscura*/
    width: 100%;/*Ancho*/
    min-height: 100vh;;/*Alto pero con vh*/
    padding: 2rem;
}


/*TITULO*/

.marco_titulo{
    border-radius: 50px;/*Radio de los vordes*/
    padding: 2rem 0px;/*Relleno de adentro a fuera*/
    background-color: rgba(108, 108, 108, 0.423);/*Fondo Cor*/
    text-align: center;
}


@media (min-width: 768px) {
    .contenedor{
        width: 60rem;
        margin: 0 auto;
    }
}

.header{
    display: inline-block;
    text-align: center;
}
@media (min-width: 768px) {
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
}

.logo{
    min-width: 9rem;/*Ancho*/
    
    background-color: rgba(0, 0, 0, 0.509);/*colorRGB Alpha*/

    border-color: var(--colorPrimario);/*Color del borde*/
    border-radius: 50%; /*Radio de los vordes*/
    border-style: solid;/*Estilo del borde*/
    border-width: 5px;/*Grosor del borde*/

    outline-style: double;/*Linea fuera del borde*/
    outline-width: 5px;/*Grosor*/
    outline-color: rgba(240, 248, 255, 0.242);/*Color*/
    outline-offset: 2px;/*distancia de la linea*/
}

.titulo{
    color: var(--colorPrimario);/*Color letra*/

    text-transform: capitalize;/*Tranforma el texto*/
    font-size: 4.8rem/*Tamaño de la fuente*/
}


.division{/*La raya*/
    margin-top: 5rem;
    border-style: solid;/*Estilo de borde*/
    opacity: 0.5;
}

/*CONTENIDO*/

/*PALABRA*/
.palabra{
    font-style: italic;/*Estilo fuente*/
    text-align: center;/*Alineacion*/
    text-transform: capitalize;/*tranformo a capital inicial*/
    font-size: 5rem;/*Tamaño funete*/
    transition: text-shadow 1s;/*transition: text 1s; /*Transicion del color*/
}
.palabra:hover{ /*Cambia de color cursor encima*/

    /*color: rgb(22, 171, 129);/*color de la funete*/
    text-shadow: rgb(255, 147, 230) 0px 0 20px;/*sombraLet*/
    
}

/*EXPLICACION*/

.explicacion{
    text-align: center;/*Alinear al centro*/
    font-size: 30px;/*Tamaño de fuente*/
}
.explicacion::first-letter {/*Modificar la primara letra*/
    text-transform: uppercase; /*Mayuscula*/
}

.contenedor_lista{
    display: flex;
    justify-content: center
}

.lista{ /*Modificando la lu*/
    text-align: justify;/*Alinear al centro*/
    font-style: italic;/*Estilo de funte*/

    padding: 0px;/*Relleno*/
}

/*EJEMPLOS*/
.ejemplos{ /*Modificando la li*/
    list-style-type: circle;/*Tipo de punto lista*/
    list-style-position: inside;/*Los circulos dentro de la caja*/
    font-size: 2rem;/*Tamaño de fuente*/
    line-height: 1.5;
}
.ejemplos li::first-letter{/*Modificar la primara letra*/
    text-transform: uppercase; /*Mayuscula*/
}


.footer{
    margin-top: 20rem;
    text-align: center;
}
/*---------------------------------------------------------------------*/

/*propiedad overflow, cocultar contenido fuera de rango W y H*/